@use '../../app.component.scss' as app;

.skill-category {
  margin-bottom: 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 1.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid var(--accent-color);
    display: inline-block;
  }
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  flex-basis: 2.5rem;
  height: 2.5rem;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 0.5rem;
  cursor: default;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color-hover);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
  }

  i,
  span {
    position: relative;
    z-index: 1;
    transition: color 0.35s ease;
  }

  i {
    font-size: 1.5rem;
    color: var(--accent-color);
  }

  span {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-color);
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }

    i,
    span {
      color: var(--gray-50);
    }
  }
}
