@if (person) {
<div class="main-container">
  <aside class="sidebar">
    <div class="sidebar-content">
      <img
        [src]="`images/${person.profilePictureUrl}.png`"
        alt="Profile picture"
        class="profile-picture"
      />
      <h1>{{ person.name }} {{ person.surname }}</h1>
      <h2>{{ t(`person.${person.personKey}.job_title`) }}</h2>

      <a
        [href]="`docs/pdf/${person.cvUrl}.pdf`"
        [download]="`${person.cvUrl}.pdf`"
        class="download-cv-btn"
      >
        {{ t('web_content.buttons.download_cv.label') }}
      </a>

      <nav class="main-nav">
        <ul>
          <li>
            <a href="#profile" [class.active]="activeSection() === 'profile'">{{
              t('web_content.section.profile.title')
            }}</a>
          </li>
          <li>
            <a href="#experience" [class.active]="activeSection() === 'experience'">{{
              t('web_content.section.experience.title')
            }}</a>
          </li>
          <li>
            <a href="#skills" [class.active]="activeSection() === 'skills'">{{
              t('web_content.section.skills.title')
            }}</a>
          </li>
          <li>
            <a href="#projects" [class.active]="activeSection() === 'projects'">{{
              t('web_content.section.projects.title')
            }}</a>
          </li>
          <li>
            <a href="#education" [class.active]="activeSection() === 'education'">{{
              t('web_content.section.education.title')
            }}</a>
          </li>
        </ul>
      </nav>

      <div class="social-links">
        <a
          href="https://linkedin.com/in/{{ person.personKey }}"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
        <a
          href="https://github.com/{{ person.personKey }}"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </div>
    </div>
  </aside>

  <main class="main-content">
    <div class="ui-controls">
      <div class="language-switcher">
        <a (click)="changeLanguage('es')" [class.active]="translationService.currentLang() === 'es'"
          >es</a
        >
        <span>|</span>
        <a (click)="changeLanguage('en')" [class.active]="translationService.currentLang() === 'en'"
          >en</a
        >
      </div>

      <div class="theme-switcher">
        <button (click)="themeService.toggleTheme()" [title]="t('buttons.toggle_theme')">
          @if (themeService.theme() === 'light') {
          <span><i class="fa-solid fa-moon"></i></span>
          } @else {
          <span><i class="fa-solid fa-sun"></i></span>
          }
        </button>
        <div class="accent-picker">
          <span class="color-dot emerald" (click)="themeService.setAccent('emerald')"></span>
          <span class="color-dot blue" (click)="themeService.setAccent('blue')"></span>
          <span class="color-dot purple" (click)="themeService.setAccent('purple')"></span>
        </div>
      </div>
    </div>

    <nav class="side-dots-nav">
      <ul>
        <li>
          <a
            href="#profile"
            [attr.data-tooltip]="t('web_content.section.profile.title')"
            [class.active]="activeSection() === 'profile'"
          >
          </a>
        </li>
        <li>
          <a
            href="#experience"
            [attr.data-tooltip]="t('web_content.section.experience.title')"
            [class.active]="activeSection() === 'experience'"
          >
          </a>
        </li>
        <li>
          <a
            href="#skills"
            [attr.data-tooltip]="t('web_content.section.skills.title')"
            [class.active]="activeSection() === 'skills'"
          >
          </a>
        </li>
        <li>
          <a
            href="#projects"
            [attr.data-tooltip]="t('web_content.section.projects.title')"
            [class.active]="activeSection() === 'projects'"
          >
          </a>
        </li>
        <li>
          <a
            href="#education"
            [attr.data-tooltip]="t('web_content.section.education.title')"
            [class.active]="activeSection() === 'education'"
          >
          </a>
        </li>
      </ul>
    </nav>

    <section id="profile" #section class="content-section">
      <div class="section-content">
        <h2>{{ t('web_content.section.profile.title') }}</h2>
        <p>{{ t('person.' + person.personKey + '.summary') }}</p>
      </div>
      <a href="#experience" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="experience" #section class="content-section">
      <div class="section-content">
        <h2>{{ t('web_content.section.experience.title') }}</h2>
        <div class="timeline">
          @for (company of person.experience; track company.id) { @for (job of company.jobs; track
          job.id) {
          <div class="timeline-item fade-in" #timelineItem>
            <div class="timeline-dot"></div>
            <div class="timeline-content">
              <h3>
                {{ t('job.' + job.jobKey + '.title') }} |
                {{ t('company.' + company.companyKey + '.name') }}
              </h3>
              <span class="timeline-period"
                >{{ job.period.start | date : 'MMMM yyyy' }} - @if (job.isCurrent) {
                {{ t('common.time.present') }}
                } @else {
                {{ job.period.end | date : 'MMMM yyyy' }}
                }
              </span>
              <p>{{ t('job.' + job.jobKey + '.description') }}</p>
            </div>
          </div>
          } }
        </div>
      </div>
      <a href="#skills" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="skills" #section class="content-section">
      <div class="section-content">
        <h2>{{ t('web_content.section.skills.title') }}</h2>

        @for (category of person.skills; track category.titleKey) { @if (category.skills.length > 0)
        {
        <div class="skill-category">
          <h3>{{ t('web_content.section.skills.category.' + category.titleKey) }}</h3>
          <div class="skills-grid">
            @for (skill of category.skills; track skill.nameKey) {
            <div class="skill-item">
              @if (skill.iconClass) {
              <i [ngClass]="skill.iconClass"></i>
              } @else {
              <span>{{ t('web_content.section.skills.item.' + skill.nameKey) }}</span>
            }
            </div>
            }
          </div>
        </div>
        } }
      </div>
      <a href="#projects" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="projects" #section class="content-section">
      <div class="section-content">
        <h2>{{ t('web_content.section.projects.title') }}</h2>
        <div class="projects-grid">
          @for (project of person.projects; track project.id) {
          <div class="project-card">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <div class="tech-stack">
              <strong>{{ t('web_content.section.skills.title') }}:</strong>
            </div>
            <div class="project-links">
              @if(project.repoUrl) {
              <a [href]="project.repoUrl" target="_blank">{{
                t('web_content.buttons.repository.label')
              }}</a>
              } @if(project.demoUrl) {
              <a [href]="project.demoUrl" target="_blank">{{
                t('web_content.buttons.demo.label')
              }}</a>
              }
            </div>
          </div>
          }
        </div>
      </div>
      <a href="#education" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="education" #section class="content-section">
      <div class="section-content">
        <h2>{{ t('web_content.section.education.title') }}</h2>
        <div class="education-list">
          @for (center of person.education; track center.id) { @for (degree of center.degrees; track
          degree.id) {
          <div class="education-item">
            <h3>
              {{
                t('academic_center.' + center.academyKey + '.study.' + degree.studyKey + '.name')
              }}
            </h3>
            <p class="institution">
              {{ t('academic_center.' + center.academyKey + '.name') }} |
              {{ degree.period.start | date : 'yyyy' }} - {{ degree.period.end | date : 'yyyy' }}
            </p>
            @if (t('academic_center.' + center.academyKey + '.study.' + degree.studyKey +
            '.erasmus') !== 'academic_center.' + center.academyKey + '.study.' + degree.studyKey +
            '.erasmus') {
            <p class="note">
              {{
                t('academic_center.' + center.academyKey + '.study.' + degree.studyKey + '.erasmus')
              }}
            </p>
            }
          </div>
          } }
        </div>
      </div>
    </section>
  </main>
</div>
}
