@if (person) {
<div class="main-container">
  <aside class="sidebar">
    <div class="sidebar-content">
      <img [src]="`images/${person.profilePictureUrl}.png`" alt="Profile picture" class="profile-picture" />
      <h1>{{ person.name }} {{ person.surname }}</h1>
      <h2>{{ 'person.' + person.personKey + '.job_title' | translate }}</h2>

      <a [href]="`docs/pdf/${person.cvUrl}.pdf`" [download]="`${person.cvUrl}.pdf`" class="download-cv-btn">
        {{ 'web_content.buttons.download_cv.label' | translate }}
      </a>

      <nav class="main-nav">
        <ul>
          <li>
            <a href="#profile" [class.active]="activeSection() === 'profile'">{{
              'web_content.section.profile.title' | translate
              }}</a>
          </li>
          <li>
            <a href="#experience" [class.active]="activeSection() === 'experience'">{{
              'web_content.section.experience.title' | translate
              }}</a>
          </li>
          <li>
            <a href="#skills" [class.active]="activeSection() === 'skills'">{{
              'web_content.section.skills.title' | translate
              }}</a>
          </li>
          <li>
            <a href="#projects" [class.active]="activeSection() === 'projects'">{{
              'web_content.section.projects.title' | translate
              }}</a>
          </li>
          <li>
            <a href="#education" [class.active]="activeSection() === 'education'">{{
              'web_content.section.education.title' | translate
              }}</a>
          </li>
          <li>
            <a href="#contact" [class.active]="activeSection() === 'contact'">{{
              'web_content.section.contact.title' | translate
              }}</a>
          </li>
        </ul>
      </nav>

      <div class="social-links">
        <a href="https://linkedin.com/in/{{ person.personKey }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="https://github.com/{{ person.personKey }}" target="_blank" rel="noopener noreferrer">GitHub</a>
      </div>
    </div>
  </aside>

  <main class="main-content">
    <div class="ui-controls">
      <div class="language-switcher">
        <a (click)="changeLanguage('es')" [class.active]="translationService.currentLang() === 'es'">es</a>
        <span>|</span>
        <a (click)="changeLanguage('en')" [class.active]="translationService.currentLang() === 'en'">en</a>
      </div>

      <div class="theme-switcher">
        <button (click)="themeService.toggleTheme()" [title]="'buttons.toggle_theme' | translate">
          @if (themeService.theme() === 'light') {
          <span><i class="fa-solid fa-moon"></i></span>
          } @else {
          <span><i class="fa-solid fa-sun"></i></span>
          }
        </button>
        <div class="accent-picker">
          <span class="color-dot emerald" (click)="themeService.setAccent('emerald')"></span>
          <span class="color-dot blue" (click)="themeService.setAccent('blue')"></span>
          <span class="color-dot purple" (click)="themeService.setAccent('purple')"></span>
        </div>
      </div>
    </div>

    <nav class="side-dots-nav">
      <ul>
        <li>
          <a href="#profile" [attr.data-tooltip]="'web_content.section.profile.title' | translate"
            [class.active]="activeSection() === 'profile'">
          </a>
        </li>
        <li>
          <a href="#experience" [attr.data-tooltip]="'web_content.section.experience.title' | translate"
            [class.active]="activeSection() === 'experience'">
          </a>
        </li>
        <li>
          <a href="#skills" [attr.data-tooltip]="'web_content.section.skills.title' | translate"
            [class.active]="activeSection() === 'skills'">
          </a>
        </li>
        <li>
          <a href="#projects" [attr.data-tooltip]="'web_content.section.projects.title' | translate"
            [class.active]="activeSection() === 'projects'">
          </a>
        </li>
        <li>
          <a href="#education" [attr.data-tooltip]="'web_content.section.education.title' | translate"
            [class.active]="activeSection() === 'education'">
          </a>
        </li>
        <li>
          <a href="#contact" [attr.data-tooltip]="'web_content.section.contact.title' | translate"
            [class.active]="activeSection() === 'contact'">
          </a>
        </li>
      </ul>
    </nav>

    <section id="profile" #section class="content-section">
      <div class="section-content">
        <h2>{{ 'web_content.section.profile.title' | translate }}</h2>
        <app-profile [person]="person"></app-profile>
      </div>
      <a href="#experience" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="experience" #section class="content-section">
      <div class="section-content">
        <h2>{{ 'web_content.section.experience.title' | translate }}</h2>
        <app-experience [person]="person"></app-experience>
      </div>
      <a href="#skills" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="skills" #section class="content-section">
      <div class="section-content">
        <h2>{{ 'web_content.section.skills.title' | translate }}</h2>
        <app-skills [person]="person"></app-skills>
      </div>
      <a href="#projects" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="projects" #section class="content-section">
      <div class="section-content">
        <h2>{{ 'web_content.section.projects.title' | translate }}</h2>
        <app-projects [person]="person"></app-projects>
      </div>
      <a href="#education" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="education" #section class="content-section">
      <div class="section-content">
        <h2>{{ 'web_content.section.education.title' | translate }}</h2>
        <app-education [person]="person"></app-education>
      </div>
      <a href="#contact" class="scroll-down-arrow">
        <i class="fa-solid fa-chevron-down"></i>
      </a>
    </section>

    <section id="contact" #section class="content-section">
      <div class="section-content">
        <h2>{{ 'web_content.section.contact.title' | translate }}</h2>
        <app-contact></app-contact>
      </div>
    </section>
  </main>
</div>
}