@use '../../app.component.scss' as app;

.education-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.education-item {
  background-color: var(--secondary-bg-color);
  padding: 1.5rem;
  border-radius: 8px;
  border-left: 4px solid var(--accent-color);
  box-shadow: 0 2px 8px var(--shadow-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px var(--shadow-color-hover);
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  .institution {
    font-style: italic;
    color: var(--secondary-text-color);
  }
  .note {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
    margin-top: 0.5rem;
  }
}
