name: Deploy CV

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Build
      run: npm run build -- --configuration production

    - name: Deploy to Server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        port: ${{ secrets.SERVER_PORT }}
        username: root
        key: ${{ secrets.DEPLOY_KEY }}
        source: "dist/*/browser/*"
        target: "/var/www/html/dist/cv-web/browser"
        strip_components: 3

    - name: Fix Permissions
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        port: ${{ secrets.SERVER_PORT }}
        username: root
        key: ${{ secrets.DEPLOY_KEY }}
        script: |
          chown -R www-data:www-data /var/www/html/dist/cv-web
